In [1]:
a = "string"

In [2]:
type(a)

str

In [3]:
type(type(a))

type

In [4]:
if a == "string":
  print("this is a string variable")

else:
  print("this is not a string variable")

this is a string variable

In [5]:
leave_type=['earned leave','paternity leave','no leave applied','sick leave','leave without pay']
for i in leave_type:
  if i ==  'paternity leave':
    print("no of days applied is:",6)
  elif i == 'earned leave':
    print("no of days applied is:",12)
  elif i == 'sick leave':
    print("no of days applied is:",1)
  elif i == 'leave without pay':
    print("no of days applied is:",0)
  else:
    print("no leave applied")

no of days applied is: 6
no of days applied is: 12
no of days applied is: 1
no of days applied is: 0

In [6]:
a = input()

12

In [10]:

a = input("which kind of leave u want to apply:")
if a ==  'paternity leave':
    print("no of days applied is:",6)
elif a == 'earned leave':
    print("no of days applied is:",12)
elif a == 'sick leave':
    print("no of days applied is:",1)
elif a == 'leave without pay':
    print("no of days applied is:",0)
else:
    print("no leave applied")

which kind of leave u want to apply:paternity leave
no of days applied is: 6

In [11]:
2500 // 5

500

In [12]:
2500 % 5

0

In [19]:
input_number = input()

2600

In [20]:
type(input_number)

str

In [17]:
type(input_number)

int

In [24]:
input_num = int(input())

if input_num >= 1500 and input_num <= 2700:
  if (input_num % 7) == 0 and (input_num % 5) == 0:
    print("the number is divisible by 7 and 5 and the number is:",input_num)
  else:
    print("the number is not divisible by 7 and 5")

2309
the number is not divisible by 7 and 5

In [27]:
l = []
for i in range(1500,2701):
  if (i % 7) == 0 and (i % 5) == 0:
    l.append(i)

In [28]:
l

[1,
 1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]