In [1]:
print("this is my first python program")

this is my first python program

In [2]:
print "this is my first python program"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("this is my first python program")? (Temp/ipykernel_7780/404216505.py, line 1)

In [3]:
#this is my first python program : comment not execute

In [4]:
"""ghj;
hjk
kj
jkk""" #multiple line comment

'ghj;\nhjk\nkj\njkk'

In [5]:
"""print("ghjkki")
print("ghjkki")
print("ghjkki")"""

'print("ghjkki")\nprint("ghjkki")\nprint("ghjkki")'

In [6]:
#variable local or global instances try to store data in RAM, variable name:it is place
a =10
b=  "sudh"
print(a)

10

In [7]:
a

10

In [8]:
type(a)#check datatype

int

In [9]:
b ="anjali"

In [10]:
type(b) #whatever you are going to coated in single or multiple coat is string.

str

In [11]:
b

'anjali'

In [ ]:
#variable not suppose to start with integer always start with character or meaningful names as name, user_id etc. also..

In [12]:
name = "anjali"
user_id ="12212N"
password = "ghikkh456"

In [13]:
name

'anjali'

In [14]:
user_id

'12212N'

In [3]:
#float datatype 
a = 1.6

In [4]:
a

1.6

In [5]:
type(a)

float

In [6]:

b = True
c = False

In [7]:
type(b)

bool

In [8]:
type(c)

bool

In [9]:
print(True+True+True+False+True)
print(False-True+True)

4
0

In [10]:
n= 45+6j

In [11]:
type(n)

complex

In [12]:
1 + "sudh" # In pyton hetrogenous datatype not able to perform operation.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
str(1) + "anjali" #typecasting

'1anjali'

In [ ]:
"1" + "anj" #concatinatiion

In [ ]:
1+1.0 # it is upcasting operation float has more space,hence output in float

In [17]:
"anj"+"anj"+"anj"

'anjanjanj'

In [18]:
"anj"*3 #multiplication is no of concatination in string .

'anjanjanj'

In [19]:
a = input()

12

In [20]:
a

'12'

In [ ]:
#assignment 
""Q1. take a integer input from user by using input fun.
take three a ,b,c three suppose to create and take input from user
) = (a+b)/c
O1 = O+ complex variable
O1+"your name"""

In [1]:
a = int(input("enter a integer "))
b = int(input("enter a integer "))
c = int(input("enter a integer "))

enter a integer 67
enter a integer 67
enter a integer 67

In [3]:
o= (a+b)/c

In [4]:
print(o)

2.0

In [5]:
o1 = o+ 2+3j

In [6]:
o1

(4+3j)

In [8]:
b = (str(o1)+"anjali")

In [9]:
b

'(4+3j)anjali'

In [1]:
#conditional statement

In [4]:
a = int(input("input a number"))
if a <34 :
    print("data input is lesser then 34 and i am fine with it")

input a number32
data input is lesser then 34 and i am fine with it

In [ ]:
#indentation rather than curley braces as in java

In [5]:
a = int(input("input a number"))
if a <34 :
print("data input is lesser then 34 and i am fine with it

IndentationError: expected an indented block (Temp/ipykernel_10612/1428954277.py, line 3)

In [2]:
a = int(input("input a number"))
if a <34:
    pass #pass in any condition:
print("data input is lesser then 34 and i am fine with it")

input a number9886579
data input is lesser then 34 and i am fine with it

In [9]:
a = int(input("input a number"))
if a <34 :
    print("data input is lesser then 34 and i am fine with it")
elif a<100:
    print(" my data is lesser then 100")
else:
    print("user input is not lesser than 34")

input a number98
 my data is lesser then 100

In [10]:
#nested loop

In [15]:
salary =int(input("enter your salary"))
if salary > 1000:
    print("your salary is good")
    if salary >5000:
        print("i will go for nano")
        if True:
             print("false code")
    elif salary >10000:
        print("i will go for maruti")
    elif salary >50000:
        print("i will go for toyata")
    else:
        print("i will go for rent")
elif salary >500:
    print("i will go for bike")
elif salary >100:
    print("i will not buy anything")
else:
    print("need saving")

enter your salary89000000
your salary is good
i will go for nano
false code